#config
version: 2.1
joba:
  build:
    docker:
      - image: cimg/python:3.10.1
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.txt
      - run:
          name: Run tests
          command: coverage run -m unittest && coverage xml && coverage report -m
      - run:
          name: Upload CodeClimate coverage report
          command: |
            ./cc-test-reporter after-build
